@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #4bf061;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produto {
    background: white;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.preco {
    color: #2b6e3f;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

button {
    background: #28bd4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1fa13e;
}

.preco-antigo {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}